{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Schools Found </h1>
  <h1>No Result Found  check your query</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Student Body</th>
    <th>Libraries Present</th>
    <th>Doctors In The Vicinity</th>
    <th>Job Openings</th>
    <th>Crime Rate</th>
    <th>Average Walking Time</th>
    <th>Affordable Housing Rating </th>
    <th>Number of Aftercare Programs</th>
    <th>City</th>
  </tr>
</table>
<ul class="list-group list-group-flush" id="notes">
</ul>
{% endblock %}