<h1 align="center">Find a School With Your Information </h1>
<form action="/form" method="POST">
    <label for="city">City</label>
    <input type="text" id="city" name="city"><br><br>
    <label for="state">State</label>
    <input type="text" id="state" name="state"><br><br>
    <label for="zip">ZIP</label>
    <input type="text" id="zip" name="zip"><br><br>
    <label for="pricerange">Price Range</label>
    <input type="text" id="pricerange" name="pricerange"><br><br>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Find a School</button>
    </div>
</form>